<form [formGroup]="searchHistorico"
      (ngSubmit)="getBuscaHistorico()" autocomplete="off">

  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-grid p-col-12 card-background">
        <div class="p-col-12">
          <h3>Filtro por data:</h3>
        </div>
        <div class="p-field p-float-label p-col-12 p-lg-3 p-xl-2">
          <p-calendar inputId="dtInicio" id="dtInicio" [showTime]="true" timeZone="America/Sao_Paulo"
                      formControlName="dtInicio"></p-calendar>
          <label for="dtInicio">Data/ Hora início</label>
        </div>
        <div class="p-field p-float-label p-col-12 p-lg-3 p-xl-2 dataFim">
          <p-calendar formControlName="dtFim" [showTime]="true" timeZone="America/Sao_Paulo"
                      inputId="dtFim" id="dtFim"></p-calendar>
          <label for="dtFim">Data/ Hora final</label>
        </div>
        <div class="p-col-12 p-lg-3 p-xl-2">
          <p-button (click)="getBuscaHistorico()">Buscar</p-button>
        </div>
      </div>
    </div>

    <div class="p-col-12">
      <div class="p-grid">

        <div class="p-col-12 p-lg-3 p-xl-3 card-background">
          <div class="p-field p-md-3" style="width:100%;">
            <p-listbox [options]="autorizadorsSelect"
                       formControlName="autorizador"></p-listbox>

<!--            <div class="p-d-flex p-flex-row p-flex-xl-column p-flex-wrap">-->
<!--              <p-button class="p-mb-2 p-mr-2" (click)="changeEstado(btn.value)"-->
<!--                        *ngFor="let btn of autorizadorsSelect">{{btn.label}}</p-button>-->
<!--            </div>-->

          </div>
        </div>

        <div class="p-col-12 p-lg-9 p-xl-9 card-background">
          <div class="p-grid">
            <div class="p-col-2">Autorizador</div>&nbsp;
            <div class="p-col-1">Autorização 4</div>
            <div class="p-col-1">Retorno Autorização 4</div>
            <div class="p-col-1">Inutilização 4</div>
            <div class="p-col-1">Consulta Protocolo 4</div>
            <div class="p-col-1">Status Serviço 4</div>
            <div class="p-col-1">Tempo Médio</div>
            <div class="p-col-1">Consulta Cadastro 4</div>
            <div class="p-col-1">Recepção Eventos 4</div>
            <div class="p-col-1">Data/ Hora Atualização</div>
          </div>
          <div class="p-grid">
              <div *ngFor="let hist of listHistorico"
                   class="p-grid p-col-12">
                <div class="p-col-2">{{hist.autorizador}}</div>&nbsp;
                <div class="p-col-1"><span class="{{hist.autorizacao4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.retornoAutorizacao4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.inutilizacao4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.consultaProtocolo4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.statusServico4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.tempoMedio}}"></span></div>
                <div class="p-col-1"><span class="{{hist.consultaCadastro4}}"></span></div>
                <div class="p-col-1"><span class="{{hist.recepcaoEventos4}}"></span></div>
                <div class="p-col-1">{{hist.horaAtualizacao | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
              </div>
            </div>
        </div>

      </div>
    </div>

  </div>
</form>
