<form [formGroup]="searchHistorico"
      (ngSubmit)="getBuscaHistorico()" autocomplete="off">

  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-grid p-col-12 card-background">
        <div class="p-col-12">
          <h3>Filtro por data:</h3>
        </div>
        <div class="p-field p-float-label p-col-12p-lg-3 p-xl-3">
          <p-calendar inputId="dtInicio" id="dtInicio"
                      [showTime]="true" formControlName="dtInicio"></p-calendar>
          <label for="dtInicio">Data/ Hora início</label>
        </div>
        <div class="p-field p-float-label p-col-12p-lg-3 p-xl-3">
          <p-calendar formControlName="dtFim" [showTime]="true"
                      inputId="dtFim" id="dtFim"></p-calendar>
          <label for="dtFim">Data/ Hora final</label>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-grid">

      <div class="p-col-12 p-lg-3 p-xl-3 card-background">
        <div class="p-field p-md-3" style="width:100%;">
          <p-listbox [options]="estadosSelect" formControlName="autorizador"></p-listbox>
        </div>
      </div>

      <div class="p-col-12 p-lg-9 p-xl-9 card-background">
        <div class="p-d-flex card-background content-results">
          <p>Content</p>
        </div>
      </div>
    </div>
  </div>

</form>
