<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Opções</h1>

  <p-button type="button" (click)="visibleSidebar1 = false"
            label="Save" styleClass="p-button-success"></p-button>

  <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel"
            styleClass="p-button-secondary"></p-button>

</p-sidebar>


<div class="p-d-flex p-flex-row menu-application">
    <button pButton pRipple type="button" icon="pi pi-bars" (click)="toggle()"
            class="p-button-rounded p-button-warning buttonToggleNG"></button>
    <p-menubar [model]="items"></p-menubar>
</div>


<router-outlet></router-outlet>
