@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";

// THEMA
//@import '../node_modules/primeng-lts/resources/themes/luna-amber/theme.css';
//@import '../node_modules/primeng-lts/resources/themes/luna-blue/theme.css';
@import '../node_modules/primeng/resources/themes/luna-green/theme.css';
//@import '../node_modules/primeng-lts/resources/themes/luna-pink/theme.css';
//@import '../node_modules/primeng-lts/resources/themes/nova-colored/theme.css';
//@import '../node_modules/primeng-lts/resources/themes/nova-dark/theme.css';
//@import '../node_modules/primeng-lts/resources/themes/nova-light/theme.css';

html, body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
}


